In [17]:
import pandas as pd

# Load the data from the uploaded Excel file
file_path = 'public_data.xlsx'
data = pd.read_excel(file_path)
data.head()

,State,Fall 1990,Fall 2000,Fall 2011,Fall 2012,Fall 2013,Fall 2014,Fall 2015,Fall 2016,Fall 2017,Fall 2018,Fall 2019,Fall 2020,Fall 2021,Fall 2022
0,Alabama,721806,739992,744621,744637,746204,744164,743789,744930,742444,739716,744235,734559,748274,750923
1,Alaska,113903,133356,131167,131489,130944,131176,132477,132737,132872,130963,132017,129872,129944,130723
2,Arizona,639853,877696,1080319,1089384,1102445,1111695,1109040,1123137,1110851,1141511,1152586,1111500,1133284,1132223
3,Arkansas,436286,449959,483114,486157,489979,490917,492132,493447,496085,495291,496927,486305,489565,493130
4,California,4950474,6140814,6287834,6299451,6312623,6312161,6305347,6309138,6304266,6272734,6249005,6064504,5959858,5930473

In [18]:
new_columns = [col.split()[1] if len(col.split()) > 1 else col for col in data.columns]

# Rename the columns
data.columns = new_columns
data

,State,1990,2000,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,721806,739992,744621,744637,746204,744164,743789,744930,742444,739716,744235,734559,748274,750923
1,Alaska,113903,133356,131167,131489,130944,131176,132477,132737,132872,130963,132017,129872,129944,130723
2,Arizona,639853,877696,1080319,1089384,1102445,1111695,1109040,1123137,1110851,1141511,1152586,1111500,1133284,1132223
3,Arkansas,436286,449959,483114,486157,489979,490917,492132,493447,496085,495291,496927,486305,489565,493130
4,California,4950474,6140814,6287834,6299451,6312623,6312161,6305347,6309138,6304266,6272734,6249005,6064504,5959858,5930473
5,Colorado,574213,724508,854265,863561,876999,889006,899112,905019,910280,911536,913223,883199,880597,870871
6,Connecticut,469123,562179,554437,550954,546200,542678,537933,535118,531288,526634,523690,509058,509748,513513
7,Delaware,99658,114676,128946,129026,131687,134042,134847,136264,136293,138405,139930,138092,139935,141465
8,District of Columbia,80694,68925,73911,76140,78153,80958,84024,85850,87315,88493,89878,89883,88908,91001
9,Florida,1861592,2434821,2668156,2692162,2720744,2756944,2792234,2816791,2832424,2846444,2858461,2791707,2833186,2870527
10,Georgia,1151687,1444937,1685016,1703332,1723909,1744437,1757237,1764346,1768642,1767202,1769657,1730015,1740875,1750972
11,Hawaii,171708,184360,182706,184760,186825,182384,181995,181550,180837,181278,181088,176441,173178,170209
12,Idaho,220840,245117,279873,284834,296476,290885,292277,297200,301186,310522,311096,307581,314258,317555
13,Illinois,1821407,2048792,2083097,2072880,2066990,2050239,2041779,2026718,2005153,1982327,1943117,1886137,1868482,1852242
14,Indiana,954525,989267,1040765,1041369,1047385,1046269,1046757,1049547,1054187,1055706,1051411,1033964,1036625,1036108
15,Iowa,483652,495080,495870,499825,502964,505311,508014,509831,511850,514833,517324,506656,510661,511297
16,Kansas,437034,470610,486108,489043,496440,497275,495884,494347,497088,497733,497963,481750,485424,487978
17,Kentucky,636401,665850,681987,685167,677389,688640,686598,684017,680978,677821,691996,658809,654239,660029
18,Louisiana,784757,743089,703390,710903,711491,716800,718711,716293,715135,711783,710439,693150,683216,718145
19,Maine,215149,207037,188969,185739,183995,182470,181613,180512,180473,180461,180291,172455,173215,173853
20,Maryland,715176,852920,854086,859638,866169,874514,879601,886221,893684,896827,909404,882527,881461,889960
21,Massachusetts,834314,975150,953369,954773,955739,955844,964026,964514,964791,962297,959394,921712,921180,923349
22,Michigan,1584431,1720626,1573537,1555370,1548841,1537922,1536231,1528666,1516398,1504194,1495925,1434137,1440090,1433914
23,Minnesota,756374,854340,839738,845404,850973,857235,864384,875021,884944,889304,893203,872083,870506,870019
24,Mississippi,502417,497871,490619,493650,492586,490917,487200,483150,478321,471298,466002,442627,442000,440285
25,Missouri,816558,912744,916584,917900,918288,917785,919234,915040,915472,913441,910466,882477,888823,892246
26,Montana,152974,154875,142349,142908,144129,144532,145319,146375,149474,148844,149917,146252,150195,150733
27,Nebraska,274081,286199,301296,303505,307677,312635,316014,319194,323766,326392,330018,324697,327564,329234
28,Nevada,201316,340706,439634,445707,451831,459189,467527,473744,485785,492640,496934,482348,486648,484192
29,New Hampshire,172785,208461,191900,188974,186310,184670,182425,180888,179433,178515,177351,169027,170005,168909
30,New Jersey,1089646,1313405,1356431,1372203,1370295,1400579,1408845,1410421,1408102,1400069,1411917,1373960,1372381,1383830
31,New Mexico,301881,320306,337225,338220,339244,340365,335694,336263,334345,333537,331206,316840,316785,315023
32,New York,2598337,2882188,2704718,2710703,2732770,2741185,2711626,2729776,2724663,2700833,2692589,2606748,2548490,2532888
33,North Carolina,1086871,1293638,1507864,1518465,1530857,1548895,1544934,1550062,1553513,1552497,1560350,1513677,1525223,1541722
34,North Dakota,117825,109201,97646,101111,103947,106586,108644,109706,111920,113845,116185,114955,116864,118513
35,Ohio,1771089,1835049,1740030,1729916,1724111,1724810,1716585,1710143,1704399,1695762,1689867,1645412,1683612,1680639
36,Oklahoma,579087,623110,666120,673483,681848,688511,692878,693903,695092,698891,703719,694113,698696,701301
37,Oregon,472394,546231,568208,587564,593000,601318,608825,606277,608014,609507,610648,578723,576201,577335
38,Pennsylvania,1667834,1814311,1771395,1763677,1755236,1743160,1717414,1727497,1726809,1730757,1732449,1704396,1695092,1693347
39,Rhode Island,138813,157347,142854,142481,142008,141959,142014,142150,142949,143436,143557,139184,138566,137449
40,South Carolina,622112,677411,727186,735998,745657,756523,763533,771250,777507,780882,786879,766819,780878,789231
41,South Dakota,129164,128603,128016,130471,130890,133040,134253,136302,137823,138975,139949,139566,141307,141888
42,Tennessee,824595,909161,999693,993496,993556,995475,1001235,1001562,1001967,1007624,1014744,985207,996709,1006752
43,Texas,3382887,4059619,5000470,5077659,5153702,5233765,5301477,5360849,5401341,5433471,5495398,5372806,5428613,5519599
44,Utah,446652,481485,598832,613279,625461,635577,647870,659801,668274,677031,684694,680659,690934,691906
45,Vermont,95762,102049,89908,89624,88690,87311,87866,88428,88028,87074,86759,82401,83975,83654
46,Virginia,998601,1144915,1257883,1265419,1273825,1280381,1283590,1287026,1291462,1289367,1297012,1251639,1249815,1260351
47,Washington,839709,1004770,1045453,1051694,1058936,1073638,1087030,1101711,1110367,1123736,1142073,1087354,1081835,1090227
48,West Virginia,322389,286367,282870,283044,280958,280310,277452,273855,272266,267976,263486,253930,252720,251224
49,Wisconsin,797621,879476,871105,872436,874414,871432,867800,864432,860753,859333,855400,830066,829359,823040
50,Wyoming,98226,89940,90099,91533,92732,94067,94717,94170,94258,94313,94616,92772,93093,92467

In [19]:
melted_data = pd.melt(data, id_vars=['State'], var_name='Year', value_name='Enrollment')

# Create 'State_Year' identifier
melted_data['State_Year'] = melted_data['State'] + ', ' + melted_data['Year']

# Drop the original 'State' and 'Year' columns
melted_data = melted_data.drop(columns=['State', 'Year'])

# Pivot the table to have 'State_Year' as the index and 'Enrollment' as columns
pivot_data = melted_data.pivot_table(index='State_Year', values='Enrollment', aggfunc='sum').reset_index()

# Check the resulting DataFrame
pivot_data

          State_Year  Enrollment
0      Alabama, 1990      721806
1      Alabama, 2000      739992
2      Alabama, 2011      744621
3      Alabama, 2012      744637
4      Alabama, 2013      746204
..               ...         ...
709    Wyoming, 2018       94313
710    Wyoming, 2019       94616
711    Wyoming, 2020       92772
712    Wyoming, 2021       93093
713    Wyoming, 2022       92467

[714 rows x 2 columns]

In [20]:
pivot_data.to_excel('public_enrollment_data.xlsx', index=False)

Private_enrollment

In [26]:
import pandas as pd

# Load the data from the uploaded Excel file
file_path = 'private_data.xlsx'
data = pd.read_excel(file_path)
new_columns = [col.split()[1] if len(col.split()) > 1 else col for col in data.columns]

# Rename the columns
data.columns = new_columns
data['State'] = data['State'].apply(lambda x: x.split()[0])

melted_data = pd.melt(data, id_vars=['State'], var_name='Year', value_name='Enrollment')

# Create 'State_Year' identifier
melted_data['State_Year'] = melted_data['State'] + ', ' + melted_data['Year']

# Drop the original 'State' and 'Year' columns
melted_data = melted_data.drop(columns=['State', 'Year'])

# Pivot the table to have 'State_Year' as the index and 'Enrollment' as columns
pivot_data = melted_data.pivot_table(index='State_Year', values='Enrollment', aggfunc='sum').reset_index()

# Check the resulting DataFrame
pivot_data

        State_Year  Enrollment
0    Alabama, 2007       83840
1    Alabama, 2009       95570
2    Alabama, 2011       81070
3    Alabama, 2013       76400
4    Alabama, 2015       75070
..             ...         ...
271  Wyoming, 2009        2910
272  Wyoming, 2011        2740
273  Wyoming, 2013        2780
274  Wyoming, 2015        2240
275  Wyoming, 2017        2320

[276 rows x 2 columns]

In [27]:
pivot_data.to_excel('private_enrollment_data.xlsx', index=False)

Access to Healthcare

In [32]:
df = pd.read_excel('access.xlsx')
df['State'] = df['State'].astype(str)
df['State'] = df['State'].apply(lambda x: x.split()[2] if len(x.split()) > 2 else x)
df['State'] = df['State'].apply(lambda x: x + ', 2024')
df.to_excel('access_data.xlsx', index=False)